* {
    margin:0;
    padding:0;
    
}
body {
    background-image: url(images/bg-desktop.svg);
    background-size: 100%;
    background-color: hsl(257, 40%, 49%);
   
}
main {
    display:flex;
    border:1px solid white;
    height:100vh;
    align-items: center;
}

.logo {
    border: 1px solid white;
    margin-top:25px;
    margin-left:50px;
}

.right-section {
    border: 1px solid white;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    color:white;
    margin-left: 40px;;
    gap:40px;

    
}

.left-section {
    border: 1px solid white;
    margin-left:60px;
    margin-bottom: 90px;
    
    
    
}



.header {
    border: 1px solid white;;
    width: 35vw;
    font-size:30px;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;

    
}

.para {
    border:1px solid white;
    width:35vw;
    font-size: 17.5px;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(253, 250, 250, 0.632);
    
}

.btn {
    display:flex;
    justify-content: center;
    padding:20px 40px;
    border-radius: 80px;;
    width:175px;
    background-color: white;
    color:hsl(257, 40%, 49%);
    font-size:20px;
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.icons {
    width:50px;
    border:1px solid white;
    margin:0;
    display: flex;
    align-items: flex-end;
}